<body>
    <br><br><br>

    <div class="form">
        <form action="">
            <img src="./../assets/toadMario.png">
            <h1>Registro</h1>
            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre...">
            <br>
            <input type="text" id="email" name="email" class="form-control" placeholder="Email...">
            <br>
            <input type="password" id="password" name="password" class="form-control" placeholder="Contrseña...">
            <br>
            <button>Crear Usuario</button>
            <hr>
            <p>
                Ya tengo cuenta! <a routerLink="/login" style="color: rgb(4, 31, 138);">Iniciar sesion</a>
            </p>
        </form>

    </div>
</body>