@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@100&display=swap');


/* Para que ocupe toda la ventana y se expanda sin márgenes ni relleno */
* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
    background-image: url("./../../../assets/mundoMario.jpg");
	/**background-color:#110F26;
	color: white;**/
    width: 100%;
    height: 785px ;
    background-attachment: fixed, scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


body button{
    border: 10px;
    padding: 10px;
    margin: 5px auto;
    width: 100%;
    background-color: rgb(128, 0, 0);
    font-size: 20px;
    color: white;
    border-radius: 10px;
    outline: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
}

body button:hover, .main button:active, .main button:focus{
    background: rgb(170, 0, 0);
}
.title {
    height: 100px;
    width: 100%;
    padding: 20px;
    text-align: center;
    border-radius: 100%;
}
.title h1{
    font-family: 'Press Start 2P', cursive;
    
    color: #961818;
}

body .row table{
    background-color:  rgb(128, 0, 0);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 20px;
}

.info-game {
    font-family: 'Press Start 2P', cursive;
    font-weight: 100px;
    color: #961818;
    font-size: 30px;
    text-align: center;
}