

<body>
    <br><br><br>

    <div class="form">
        <form [formGroup] = "loginForm" (ngSubmit)="Ingresar()">
            <img src="./../assets/toadMario.png">
            <br>
            <h2>Bienvenido</h2>
            
            <input type="text" id="email" name="email" class="form-control" formControlName="email" placeholder="Email...">
            <br>
            <input type="password" id="password" name="password" class="form-control" formControlName="password" placeholder="Contrseña...">
            <br>
            <button [disabled]="!loginForm.valid" type="submit">Ingresar</button>
            <hr>
            
        </form>
        <p>
            ¿No estas registrado? <a routerLink="/registro" style="color: rgb(4, 31, 138);">Registrarse</a>
        </p>

    </div>
</body>