

<body>
    <br><br><br>

    <div class="form">
        <form action="">
            <img src="./../assets/toadMario.png">
            <input type="text" id="email" name="email" class="form-control" placeholder="Email...">
            <br>
            <input type="password" id="password" name="password" class="form-control" placeholder="Contrseña...">
            <br>
            <button>Ingresar</button>
            <hr>
            <p>
                ¿No estas registrado? <a routerLink="/registro" style="color: rgb(4, 31, 138);">Registrarse</a>
            </p>

            <p>
                Login no terminado <a routerLink="/home" style="color: rgb(4, 31, 138);">IR AL HOME</a>
            </p>
        </form>

    </div>
</body>