<body>
  <button routerLink="/home" style="color: white;" class="nav-link">volver al Inicio</button>

  <div class="row">

    <div class="col-md-3"></div>
    <div class="contenedor-tateti col-md-6">
      <label>
        <h1> >> Ta - Te - Ti << </h1>
      </label>
  
      <div align="center">
        <table align="center">
          <tr>
            <td id="cell11" class="cell">&nbsp;</td>
            <td id="cell12" class="cell">&nbsp;</td>
            <td id="cell13" class="cell">&nbsp;</td>
          </tr>
          <tr>
            <td id="cell21" class="cell">&nbsp;</td>
            <td id="cell22" class="cell">&nbsp;</td>
            <td id="cell23" class="cell">&nbsp;</td>
          </tr>
          <tr>
            <td id="cell31" class="cell">&nbsp;</td>
            <td id="cell32" class="cell">&nbsp;</td>
            <td id="cell33" class="cell">&nbsp;</td>
          </tr>
        </table>
        <hr>
        <p class="info-game">{{mensajeAlert}}</p>
        <br /><br />
        <input id="reset" align="center" type="button" class="boton" value="RESET" />
        <br /><br />
  
  
      </div>
  
    </div>
    <div class="col-md-3"></div>
  </div>
  
</body>