<body>
    <button routerLink="/home" style="color: white;" class="nav-link">volver al Inicio</button>
    
    <div class="contenedor-tateti">
        <label>
            <h1> >> Ta - Te - Ti << </h1>
        </label>

        <div class="contenedor-game">
          <h2 *ngIf="mostrarMensaje" style="color: rgb(26, 179, 12);">{{mensaje}}</h2>

          <div *ngIf="comenzar && !mostrarMensaje" class="contenedor-tablero">
              <button [disabled]="desabilitar" class="espacio_0" [ngClass]="{circulo: cuadrados[0] == 'o', cruz: cuadrados[0] == 'x'}" (click)="jugar(0)"></button>
              <button [disabled]="desabilitar" class="espacio_1" [ngClass]="{circulo: cuadrados[1] == 'o', cruz: cuadrados[1] == 'x'}" (click)="jugar(1)"></button>
              <button [disabled]="desabilitar" class="espacio_2" [ngClass]="{circulo: cuadrados[2] == 'o', cruz: cuadrados[2] == 'x'}" (click)="jugar(2)"></button>
              <button [disabled]="desabilitar" class="espacio_3" [ngClass]="{circulo: cuadrados[3] == 'o', cruz: cuadrados[3] == 'x'}" (click)="jugar(3)"></button>
              <button [disabled]="desabilitar" class="espacio_4" [ngClass]="{circulo: cuadrados[4] == 'o', cruz: cuadrados[4] == 'x'}" (click)="jugar(4)"></button>
              <button [disabled]="desabilitar" class="espacio_5" [ngClass]="{circulo: cuadrados[5] == 'o', cruz: cuadrados[5] == 'x'}" (click)="jugar(5)"></button>
              <button [disabled]="desabilitar" class="espacio_6" [ngClass]="{circulo: cuadrados[6] == 'o', cruz: cuadrados[6] == 'x'}" (click)="jugar(6)"></button>
              <button [disabled]="desabilitar" class="espacio_7" [ngClass]="{circulo: cuadrados[7] == 'o', cruz: cuadrados[7] == 'x'}" (click)="jugar(7)"></button>
              <button [disabled]="desabilitar" class="espacio_8" [ngClass]="{circulo: cuadrados[8] == 'o', cruz: cuadrados[8] == 'x'}" (click)="jugar(8)"></button>
          </div>
          <button *ngIf="!comenzar" type="button" (click)="comenzarJuego()">comenzar</button>
        </div>
      </div>
</body>